.calculator {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  width: 400px;
  background-color: black;
  height: 600px;
}

.calculator-screen {
  background-color: grey;
  height: 100px;
  display: block;
  margin-top: 8px;
  margin-bottom: 16px;
}

.calculator-buttons {
  display: flex;
  gap: 8px 8px;
  justify-content: center;
  margin-top: 16px;
  border: 1px solid white;
  height: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 20px;
}

.calculator-button {
  font-size: 46px;
  flex: 1 1 30%;
}

.calculator-value {
  font-size: 46px;
}